@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

.header-logo {
    height: 72px;
}

.header-menu {
    display: flex;
    gap: 32px;
}

.header-menu-item {

    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;

    color: #FFF2E7;

}



.content {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.top-content {
    display: flex;
    flex-direction: row;
    padding: 24px;
    align-items: center;
    justify-content: space-around;
}

.top-content-text {

    font-family: 'Sarala', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 32px;

    color: #ECD6C4;

}


.top-content-text-h1 {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;

    /*
    line-height: 79px;
    /* identical to box height */


    color: #FFF2E7;
}

.top-content-text-h2 {

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /*    line-height: 39px;*/

}

.top-content-text-button {

    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
    text-align: center;
    background-color: #ECD6C4;
    color: #2F2325;
    width: 180px;
    height: 60px;
    border: none;

    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.top-content-image {
    height: 430px;
}

.top-content-bottom {

    font-family: 'Righteous', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

}

.top-content-bottom-title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #FFF2E7;

    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    margin-bottom: 16px;

}

.top-content-bottom-p {

    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    color: #ECD6C4;
    text-align: center;

    

}

.footer {
    border-top: 0.4px solid #FFF2E7;
    padding: 32px;
}

.footer-image {
    
    height: 48px;
    display: block;
    margin: 0 auto;
    
   
}